<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Peli - Detalle</title>
    <link rel="cac-movie icon" href="../static/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <!-- logo y nombre sitio -->
            <h1>CaC - Pelis</h1>
            
            <!-- menu de acciones -->

            <ul type="square">
                <li>Tendencias</li>
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="./templates/register.html">Registrarse</a>
                </li>
                <li>
                    <a 
                    href="https://developer.themoviedb.org/docs"
                    target="_blank"
                    title="Ir a la pagina que me dara las pelis para este hermoso frontend"
                    >
                    API
                </a>
                </li>
                <li>Iniciar sesion</li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="banner">
            <img src="https://picsum.photos/200/300" alt="">
            <div>
                The Super Mario Bros. Movie (2023)
                    04/05/2023 • Animation, Family, Adventure, Fantasy, Comedy • 1h 33m
            </div>
        </section>
        <section id="more-info">
            <div>
                <h2>Trailer</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aAoKqx9wb1I?si=5mwwDqTgH9oTR71n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
            </div>

            <div>
                <table>
                    <tr>
                        <td colspan="2" align="center">Info</td>
                    </tr>
                    <tr>
                        <td><strong>Estado</strong></td>
                        <td>Estrenada</td>
                    </tr>
                    <tr>
                        <td><strong>Lenguaje</strong></td>
                        <td>Ingles</td>
                    </tr>
                    <tr>
                        <td><strong>Presupuesto</strong></td>
                        <td>10000000</td>
                    </tr>
                    <tr>
                        <td><strong>Ganancia</strong></td>
                        <td>50000000</td>
                    </tr>

                </table>

            </div>

            <div>
                <table border="2">
                    <thead>
                       <td colspan="4" align="center" bgcolor="gray">Grupo 99</td> 

                    </thead>
                    <thead>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Edad</td>
                        <td>Tarea</td>
                    </thead>
                    <tr>
                        <td>Juan</td>
                        <td>Perez</td>
                        <td>23</td>
                        <td rowspan="3">Frontend</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                        <td>Perez</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>Yoselin</td>
                        <td>Perez</td>
                        <td bgcolor="red">23</td>
                    </tr>
                    <tr>
                        <td>Miriam</td>
                        <td>Perez</td>
                        <td>23</td>
                        <td>Testing</td>
                    </tr>
                    <tr>
                        <td>Enzo</td>
                        <td>Perez</td>
                        <td>23</td>
                        <td rowspan="2">Backend</td>
                    </tr>
                    <tr>
                        <td>Ingrid</td>
                        <td>Perez</td>
                        <td>23</td>
                    </tr>

                </table>
            </div>
        </section>

    </main>
</body>
</html>