
#banner-movie{
    background-image: url('../img/mario-bg.jpg');
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 0 2000px rgba(84, 84, 84, 0.7);
}

/* 
inset: Es un valor opcional que indica que la sombra debe estar en el interior del elemento en lugar de en el exterior. Si se incluye este valor, la sombra se dibujará dentro del contorno del elemento en lugar de fuera de él.
0 0: Estos dos valores representan el desplazamiento horizontal y vertical de la sombra. En este caso, la sombra no se desplaza horizontal ni verticalmente, por lo que no hay desplazamiento.

0: Este valor representa el radio de desenfoque de la sombra. En este caso, la sombra no está desenfocada, ya que el radio de desenfoque es 0.

2000px: Este valor representa el radio de propagación de la sombra. En este caso, la sombra se extiende 2000 píxeles desde el contorno del elemento.

rgba(84, 84, 84, 0.7): Este valor define el color de la sombra. Especifica un color gris con una opacidad del 70%.
*/

/* .banner-container {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    gap: 20px;
} */

/* .movie-detail-poster{
    border: 2px solid red;
    min-width: 300px;
    display: flex;
    justify-content: center;
} */

/* .movie-detail-poster img{
    border-radius: 20px;
} */


/* #more-info{
    border: 2px solid red;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
} */

/* .more-info-table {
    flex: 1;
    display: flex;
    justify-content: center;
} */


/* @media screen and (max-width: 767px) {
    #more-info{
        display: block;
    } 
} */