:root {
/* Variables de css */
    --bg-color:#181419;
    --bg-input-color: #4f31572c;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-size: 24px;
    font-family: 'Nunito', Georgia;
}

a {
    text-decoration: none;
    color: var(--color);
    font-size: 1rem;
}

  
header {
    position: fixed;
    
    background-color: var(--third-color);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

}
/* NEW aplicando flex al nav */
nav{
    /* border: 4px solid yellowgreen; */
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    /* align-items: center; */
    padding: 0px 50px;
    height: 60px;
}

#logo {
    /* border: 2px solid red; */
    font-weight: bold;
    width: fit-content;
}

#logo:hover {
    animation: movimiento-logo 0.25s infinite;
}

nav ul {
    /* border: 4px solid black; */
    align-items: center;

    display: flex;
    gap: 10px;
    list-style: none;
}
/* creamos el fotograma */
@keyframes movimiento-logo {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}


.btn-primary{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    color:#FFF;
    cursor: pointer;
}

.btn-primary:hover{
    color:var(--secondary-color);
    border-color: var(--secondary-color);
    transition: all 1s ease;

}

.comision {
    /* background-color: rgba(0, 0, 255, .3); */
    /* y si queremos colocar el color y la opacidad en hexa ? 
    255 * 0.3 = 76.5 >>> 77 que en hexa es 4D
    */
    background-color: #0000ff4D;
    position: fixed;
    width: 400px;
    padding: 5px 0;
    text-align: center;
    top: 80px;
    right: -75px;
    transform: rotate(45deg);
}

/* selector por id */
#banner {
    background-image: url("../img/banner-bg.jpg"); /* Establece la imagen de fondo del elemento con el ID 'banner', especificada por la URL */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el 치rea del elemento, manteniendo su relaci칩n de aspecto */
    height: 600px; 
    background-position: center;

}


#search {
    /* position: sticky; */
    top: 0;
}

/* implemento clase  */
.search-container {

    padding: 10px 2px;
    /* margin: 30px 0; */
    width: 500px;
    height: 400px;
    margin: auto;
    
}
.search-container h2 {
    text-align: center;
}
.search-container h2 span {
    padding-left: 10px;
}

.search-container input {
    background-color: var(--bg-input-color);
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    color: var(--color);
    border: 2px solid var(--color);
    padding-left: 10px;
}

/* Trabajando con Flex */
.movie-item{
    border: 4px solid yellowgreen;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.movie-item-img {
    width: 200px;
    height: 300px;
    object-fit: cover;/* Ajusta la imagen para cubrir el contenedor sin distorsi칩n */
}

.movie-item-detail {
    background-color: #db4648;
    position: absolute;
    bottom: -100%;
    width: 100%;
    max-height: 85%;
    transition: bottom 0.5s ease-in-out;
}

.movie-item:hover{
    opacity: 0.6;
}

.movie-item:hover .movie-item-detail {
    bottom: 0;
}

.movie-item-detail-title {
    color: white;
    margin: 5px 0px 0px 0px;
    line-height: 1.2em;
}
  
.movie-item-detail-subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

.movie-item-detail-subtitle::after{
    content: '游';
}

footer {
    background-color: var(--third-color);
}
footer a {
    padding: 5px 10px;
    text-decoration: none;
    color: var(--color);

}

/* pseudoclases */
/* Estilo para cada enlace en el pie de p치gina */

footer a:first-child {
    background-color: rgb(122, 122, 202);
    color: red;
}

footer a:nth-child(3) {
    color: yellowgreen;
}



/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1{
        font-size: 3vw;
    }
    #banner{
        height: 400px;
    }
    #search{
        height: 200px;
    }
    /* NEW quitamos que oculte logo */
    /* #logo {
        display: none;
    } */
}

/* CELULARES */
@media screen and (max-width: 767px) {
    .search-container input {
        background-color: #9f3647;
    }

    .login-text {
        /* visibility: hidden; */
        display: none;
    }
    nav{
        height: auto;

    }
}