<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <title>Peli - Detalle</title>
    <link rel="cac-movie icon" href="./static/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <!-- logo y nombre sitio -->
            <h1>CaC - Pelis</h1>
            
            <!-- menu de acciones -->

            <ul type="square">
                <li>Tendencias</li>
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="./templates/register.html">Registrarse</a>
                </li>
                <li>
                    <a 
                    href="https://developer.themoviedb.org/docs"
                    target="_blank"
                    title="Ir a la pagina que me dara las pelis para este hermoso frontend"
                    >
                    API
                </a>
                </li>
                <li>Iniciar sesion</li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="banner">
            <img src="https://picsum.photos/200/300" alt="">
            <div>
                The Super Mario Bros. Movie (2023)
                    04/05/2023 • Animation, Family, Adventure, Fantasy, Comedy • 1h 33m
            </div>
        </section>
        <section id="more-info">
            <div>
                <h2>Trailer</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aAoKqx9wb1I?si=5mwwDqTgH9oTR71n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
            </div>

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6567.981484250824!2d-58.394188609542795!3d-34.60439561095661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sobelisco!5e0!3m2!1ses!2sar!4v1710199083394!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <table>
                    <tr>
                        <td>col1</td>
                        <td>col2</td>
                    </tr>
                    <!-- Fila 2 -->
                    <tr>
                        <td>col3</td>
                        <td>col4</td>
                    </tr>
                    <tr>
                        <td>col5</td>
                        <td>col6</td>
                    </tr>
                </table>
            </div>
        </section>

    </main>
</body>
</html>